@charset "UTF-8";

:root {
    --primario: #4682B4;
    --segundario: #800000;
    --destaque2: #DC143C;
    --neutro: #F5F5F5;
}

main {
    background-color: #325572;
}
#intro{
    width: 100%;
    height: 530px;
}
.conteudo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.texto {
    flex-grow: 1;
    line-height: 30px;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    margin-left: 10px;
    background-color: var(--neutro);
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: justify;
}

.conteudo img {
    margin-left: 10px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
}

#testemunhos {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px;
}
#sectiontest{
    background-color: #366c98;
    padding: 20px;
}
.caixa{
    background-color: #4682B4;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 1px 30px rgb(65, 65, 65);
    margin: 20px;
}
.foto{
    text-align: center;
    padding: 10px;
    background-color: #325572;
}
.foto img {
    border-radius: 30%;
    border: 1px solid black;
    width: 100%;
    height: 400px;
}
.comentario{
    background-color: #4682B4;
    color: var(--neutro);
    padding: 20px;
    font-size: 20px;
    font-family: "PT sans";
    text-align: justify;
    border-radius: 4px;
}
.nome{
    font-size: 25px;
}

button {
    padding: 10px 30px;
    background-color: var(--destaque2);
    color: var(--neutro);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.botao{
    text-align: center;
    margin-top: 20px;
}
button:hover{
    background-color: var(--segundario);
    font-size: 15px;
    box-shadow: 5px 1px 10px rgb(65, 65, 65);
    transition: 0.5s;
}

@media(max-width: 1050px){
    .conteudo{
        display:inline;
        padding: 0;
    }
    .conteudo img{
        margin: 0;
    }
    .texto{
        margin-left: 0;
    }
    #testemunhos{
        display: block;
        margin: 0;
    }
}